<h4 id="content_title_bar">Inbox</h4>
<div id="message_inbox">
  <p>
    <table width="100%">
      <thead>
        <th>Subject</th>
        <th>Sender</th>
      </thead>
      <tbody>
        <% @inbox.each do |i| %>
          <tr>
            <td><%= link_to i.subject, :controller => "messaging", :action => "show", :id => i.id %></td>
            <td><%= i.last_sender.username %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
</div>